[http]
	version = HTTP/1.1
[user]
	name = bekaboo
	email = 18127878294@qq.com
[init]
	defaultBranch = master
[alias]
	a = add
	b = branch
	c = commit
	d = diff
	p = pull
	s = stash
	w = show
	st = status
	rs = reset
	rt = restore
	au = add -u
	ca = commit --amend
	cm = commit -m
	is-ancestor = merge-base --is-ancestor
	l = log --oneline --graph
	lc = !git ls-files -z | xargs -0 wc -l
	rb = rebase
	rbp = rebase -i HEAD~5
	rsp = reset --mixed HEAD^
	rts = restore --staged
	sm = stash -m
	sa = stash apply
	sl = stash list
	sp = stash pop
	sd = stash drop
	sw = stash show
	sww = stash show -p
	ss = stash --staged
	ssm = stash --staged -m
	when-added = log --diff-filter=A
	when-copied = log --diff-filter=C
	when-deleted = log --diff-filter=D
	when-modified = log --diff-filter=M
	when-pairing-broken = log --diff-filter=B
	when-renamed = log --diff-filter=R
	when-type-changed = log --diff-filter=T
	when-unknown = log --diff-filter=X
	when-unmerged = log --diff-filter=U
[merge]
	tool = vimdiff
	ff = false
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = true
[diff]
	algorithm = histogram
