[http]
	version = HTTP/1.1
[user]
	name = bekaboo
	email = 18127878294@qq.com
[init]
	defaultBranch = master
[alias]
	a                   = add
	ap                  = add -p
	au                  = add -u
	aup                 = add -up
	b                   = branch
	bd                  = branch -d
	bl                  = branch -v
	c                   = commit
	ca                  = commit --amend
	cl                  = clone --filter=blob:none
	cl1                 = clone --depth=1
	clr                 = clone --recursive
	cm                  = commit -m
	co                  = checkout
	d                   = diff
	ds                  = diff --cached
	f                   = fetch
	is-ancestor         = merge-base --is-ancestor
	l                   = log --oneline --graph
	lc                  = !git ls-files -z | xargs -0 wc -l
	ls                  = ls-files
	m                   = merge
	mt                  = mergetool
	p                   = push
	pf                  = push --force
	pl                  = pull
	r                   = remote
	ra                  = remote add
	rb                  = rebase
	rbh                 = rebase --onto HEAD
	rbi                 = rebase -i
	rbo                 = rebase --onto
	rl                  = remote -v
	rrm                 = remote rm
	rs                  = reset
	rsp                 = reset --mixed HEAD^
	rt                  = restore
	rtp                 = restore -p
	rts                 = restore --staged
	ru                  = remote set-url
	s                   = stash
	sa                  = stash apply
	sb                  = stash branch
	sd                  = stash drop
	sl                  = stash list
	sm                  = stash -m
	sp                  = stash pop
	ss                  = stash --staged
	ssm                 = stash --staged -m
	st                  = status
	su                  = submodule
	sui                  = submodule init
	sul                  = submodule status
	suu                  = submodule update
	sw                  = stash show
	sw                  = switch
	swd                 = switch --detach
	swo                 = switch --orphan
	sww                 = stash show -p
	w                   = show
	when-added          = log --diff-filter=A
	when-copied         = log --diff-filter=C
	when-deleted        = log --diff-filter=D
	when-modified       = log --diff-filter=M
	when-pairing-broken = log --diff-filter=B
	when-renamed        = log --diff-filter=R
	when-type-changed   = log --diff-filter=T
	when-unknown        = log --diff-filter=X
	when-unmerged       = log --diff-filter=U
[merge]
	tool = vimdiff
	ff = false
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = true
[diff]
	algorithm = histogram
	indentHeuristic = true
