[http]
	version = HTTP/1.1
[user]
	name = bekaboo
	email = 18127878294@qq.com
[init]
	defaultBranch = master
[alias]
	a = add
	A = add .
	b = branch
	cm = commit -m
	ca = commit -a
	cam = commit -a -m
	d = diff
	l = log --oneline --graph
	p = pull
	P = push
	s = status
	r = restore
[merge]
	tool = vimdiff
	ff = false
[mergetool]
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = true
[diff]
	algorithm = patience
