[Desktop Entry]
Name=Tmux
Comment=Terminal multiplexer
Comment[en_CA]=Terminal multiplexer
Comment[en_GB]=Terminal multiplexer
Comment[zh_CN]=终端复用器
Comment[zh_TW]=終端複用器
Exec=sh -c 'if (tmux ls 2>/dev/null | grep -vq attached) && [ "$PWD" = "$HOME" ]; then tmux at; else tmux; fi'
Terminal=true
Type=Application
Keywords=terminal;shell;prompt;command;commandline;
Icon=utilities-terminal
Categories=System;TerminalEmulator;
StartupNotify=false
MimeType=application/x-shellscript;
