[Desktop Entry]
Name=Fish
Comment=Fish Wallpapers

X-KDE-PluginInfo-Author=Bekaboo
X-KDE-PluginInfo-Email=18127878294@qq.com
X-KDE-PluginInfo-Name=Fish
X-KDE-PluginInfo-Version=0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Settings]
FallbackTheme=default

[Wallpaper]
defaultWallpaperTheme=Fish
defaultFileSuffix=.png
defaultWidth=10240
defaultHeight=5760

[Branding]
homepage=
